---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import img3 from "../assets/images/img3.jpg";
import img4 from "../assets/images/img4.jpg";
import img5 from "../assets/images/img5.jpg";
import img1 from "../assets/images/img1.jpg";
import img2 from "../assets/images/img2.jpg";
import hero from "../assets/images/hero.jpg";
---

<MainLayout title="110 filmen er tilbage">
  <section id="section1" class="py-40 relative m-10">
    <div class="absolute inset-0">
      <Image
        src={hero}
        alt="billede af hænder der holder 110 film"
        class="w-full h-full object-cover rounded-xl drop-shadow-lg"
        style="image-rendering: pixelated;"
      />
      <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div>
    </div>
    <div class="relative container mx-auto text-center text-white fadein6">
      <h1 class="text-5xl font-bold mb-4">110 filmen er tilbage</h1>
      <p class="text-xl mb-8">Genfødselen af 110 filmen</p>
    </div>
  </section>

  <section id="section2" class="py-20 bg-gray-100 px-4 md:px-0 rounded-xl">
    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center fadein1"
    >
      <div>
        <h2 class="text-4xl font-bold mb-4 text-center md:text-left">
          Lomography skinner lys på 110 filmen
        </h2>
        <p class="text-xl text-center md:text-left">Hvordan Det startede</p>
        <p class="mt-5 prose">
          Lomography har genoplivet den ikoniske 110-film, der oprindeligt blev
          introduceret i 1970'erne og elsket for sin kompakte størrelse og
          brugervenlighed. Efter at produktionen af 110-film stort set forsvandt
          i begyndelsen af 2000'erne, besluttede Lomography at genoplive
          formatet og give analogfotografer en ny mulighed for kreativ
          eksperimentering. Med film som Lomography Tiger 200, Orca 100 og
          Peacock 200 tilbyder de både sort-hvid og farvefilm, der passer
          perfekt til vintage 110-kameraer. Denne genfødsel har givet nyt liv
          til lomografi-bevægelsen og begejstrer både nostalgikere og nye
          analogfotografer.
        </p>
      </div>
      <div class="flex justify-center">
        <Image
          src={img1}
          alt="billede af hænder der holder 110 film"
          class="w-full h-auto rounded-xl drop-shadow-lg"
          style="image-rendering: pixelated;"
        />
      </div>
    </div>
  </section>

  <section id="section3" class="py-20 bg-white px-4 md:px-0 rounded-xl">
    <div
      class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center fadein2"
    >
      <div class="flex justify-center">
        <Image
          src={img2}
          alt="billede af by i 110 film"
          class="w-full h-auto rounded-xl drop-shadow-lg"
          style="image-rendering: pixelated;"
        />
      </div>
      <div>
        <h2 class="text-4xl font-bold mb-4 text-center md:text-left">
          Fremtiden for Lomography
        </h2>
        <p class="text-xl text-center md:text-left">
          Den fremtidige indflydelse på fotografi
        </p>
        <p class="mt-5 prose">
          Lomography er blevet et kulturelt fænomen, hvor millioner af fans
          verden over omfavner virksomhedens filosofi om eksperimentering,
          spontanitet og kreativ frihed. Med sine unikke kameraer og filmtyper
          har Lomography været med til at omdefinere vores syn på fotografi og
          opfordrer os til at værdsætte uperfektheder og fejre skønheden i det
          uventede. Efterhånden som virksomheden udvikler sig og udvider sit
          produktsortiment, står det klart, at Lomographys ånd er kommet for at
          blive – og fortsat vil inspirere nye generationer af fotografer til at
          se verden med friske øjne og indfange den på deres egen unikke måde.
        </p>
      </div>
    </div>
  </section>

  <section id="section4" class="py-20 bg-gray-100 px-4 md:px-0 rounded-xl">
    <div class="container mx-auto text-center fadein3">
      <h2 class="text-4xl font-bold mb-4">
        Den Personlige lyst til at arbejde med Lomography
      </h2>
      <p class="text-xl">"Det simple" af Chris (@farleychris88)</p>
    </div>
    <div class="container mx-auto fadein4">
      <p class="mt-5">
        Omkring midten af 2020 så jeg en film kaldet Went to Coney Island on a
        Mission from God... Be Back by Five, og der var en scene, hvor nogen
        brugte et 110-kamera. Da jeg er i tyverne, havde jeg aldrig set et
        110-kamera før. Så jeg googlede "tyndt vandret filmkamera", og det førte
        mig til at købe et Kodak Ektralite 10. Derfra var jeg hooked på at
        fotografere med 110-film og begyndte at forelske mig i det.
      </p>
      <p>
        Jeg elsker filmens simple natur – jeg sætter den bare i og går i gang,
        især fordi jeg udelukkende bruger et point-and-shoot-kamera. Filmen
        giver altid et nostalgisk udseende, og selv efter at have skudt over 50
        ruller bliver jeg stadig overrasket over resultaterne. Derudover hjælper
        det, at filmen er relativt billig og overkommelig.
      </p>
      <p>
        Jeg begyndte at fotografere med 110-film som en hobby og havde aldrig
        forestillet mig, at det ville føre til så mange muligheder. Jeg har fået
        lov til at tage promo-billeder for et band, et af mine fotos er blevet
        brugt som albumcover, jeg har haft muligheden for at fotografere en
        livekoncert professionelt, og vigtigst af alt har jeg fået fanget
        fantastiske øjeblikke med mine venner og familie. Jeg håber, at
        Lomography aldrig stopper med at producere 110-film, for jeg tror ikke,
        jeg nogensinde vil stoppe med at fotografere med det.
      </p>
    </div>
  </section>
  <div class="flex justify-center space-x-4 mt-20 px-4 md:px-0 mb-20 fadein5">
    <Image
      src={img3}
      alt="billde af mand i kodak film"
      class="w-1/4 h-auto rounded-xl drop-shadow-lg transform transition-transform duration-300 hover:scale-110"
      style="image-rendering: pixelated;"
    />
    <Image
      src={img5}
      alt="billde af mænd i kodak film"
      class="w-1/4 h-auto rounded-xl drop-shadow-lg transform transition-transform duration-300 hover:scale-110"
      style="image-rendering: pixelated;"
    />
    <Image
      src={img4}
      alt="billede af sofa i film"
      class="w-1/4 h-auto rounded-xl drop-shadow-lg transform transition-transform duration-300 hover:scale-110"
      style="image-rendering: pixelated;"
    />
  </div>
  <script>
    import { inView } from "motion";

    const fadein1 = document.querySelector(".fadein1");

    inView(fadein1, () => {
      fadein1.classList.add("animate__animated", "animate__fadeInUp");
    });

    const fadein2 = document.querySelector(".fadein2");

    inView(fadein2, () => {
      fadein2.classList.add("animate__animated", "animate__fadeInUp");
    });

    const fadein3 = document.querySelector(".fadein3");

    inView(fadein3, () => {
      fadein3.classList.add("animate__animated", "animate__fadeInUp");
    });

    const fadein4 = document.querySelector(".fadein4");

    inView(fadein4, () => {
      fadein4.classList.add("animate__animated", "animate__fadeInUp");
    });

    const fadein5 = document.querySelector(".fadein5");

    inView(fadein5, () => {
      fadein5.classList.add("animate__animated", "animate__flipInX");
    });

    const fadein6 = document.querySelector(".fadein6");

    inView(fadein6, () => {
      fadein6.classList.add("animate__animated", "animate__fadeIn");
    });
  </script>
</MainLayout>
